<!-- <select name="categories" id="categories">
<option value="Trade Fiction Paperback">Trade Fiction Paperback</option>
<option value="Series Books">Series Books</option>
<option value="Hardcover fiction">Hardcover fiction</option>
<option value="Hardcover nonfiction">Hardcover nonfiction</option>
<option value="Paperback trade fiction">Paperback trade fiction</option>
<option value="Paperback nonfiction">Paperback nonfiction</option>
<option value="Advice, how-to & Miscellaneous">Advice, how-to & Miscellaneous</option>
</select>
<button type="button" class="buttonChoose">choose</button>
<script src="../js/categories.js" type="module"></script>

<div id="books-container"></div> -->

