                                                    <!-- TEST onclick="loadBookData('643282b1e85766588626a0c2')"-->
<button class="button" id="openModalBtn" >Відкрити модальне вікно</button>    

<div id="myModal" class="modal">
    <div class="modal-content">  
            <div class="content"> 
                <img alt="Book cover" class="img_modal"  src="" width=192px height=281px/>

                <div class="text">
                    <h3 class="book_name"></h3>
                    <p class="author"></p>
                    <p class="description"></p>
                    <ul class="links">
                        <li><a href="" target="_blank" name="Amazon"><img class="logo" src="../img/(шлях_до_пнг)" alt="Amazon"></a></li>
                        <li><a href="" target="_blank" name="Apple Books"><img class="logo" src="../img/(шлях_до_пнг)" alt="Apple Books"></a></li>
                    </ul>
                </div>
            </div>

            <span class="close" id="closeModalBtn">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 7L7 21M7 7L21 21" stroke="#111111" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>
        
        <div class="button_place">
                                 <!-- TEST onclick="toggleShoppingList()"-->
            <button class="button" id="shoppingListBtn" >Add to shopping list</button> 
        </div>
        <div id="notification" class="notification"></div>
    </div>
</div>