<div class="form-container">
  <div class="form">
    <button class="close-btn">
      <svg class="firebase-btn" width="12" height="12">
        <use href="../img/icons.svg#icon-x-close-min"></use>
      </svg>
    </button>
    <form action="/submit" method="post">
      <input type="text" name="name" placeholder="NAME" required />
      <input type="email" name="email" placeholder="EMAIL" required />
      <input type="password" name="password" placeholder="PASSWORD" required />
      <button class="signup-btn-form" type="submit">SIGN UP</button>
    </form>
    <div class="">SIGN UP | SIGN IN</div>
  </div>
</div>
