<header class="header">
    <div class="container header-container">
        <div class="logo">
        <a class="header-logo" href="./index.html"
        ><img src="" alt="logo" width="24" height="24" />
        <span>Bookshelf</span>
      </a>
      </div>
        <nav class="header-navigator">
            <ul class="header-menu">
                <li class="header-menu-item">
                  <a class="header-menu-link" href="#home-id">HOME</a>
                </li>
                <li class="header-menu-item">
                 <a class="header-menu-link" href="#shopping list-id">SHOPPING LIST</a>
                </li>
                </ul> 
            </nav>
            </div>
              <div class="toggle-switch">
                <div class="checkbox-container">
                  <input type="checkbox" id="toggle">
                  <label for="toggle"></label>
                </div>
              </div>
     </header>
                
    
    
  

   