<div class="menu-modal">
    <div class="name-caption">
        <img src="" alt="" class="menu-user-img">
        <p class="menu-user-name">userName</p>
    </div>
    <button class="menu-signup-btn">Sign up</button>
    <div class="menu-central-links">
        <a href="" class="menu-home-link">Home</a>
        <div class="menu-shopping-caption">
            <a href="" class="menu-list-link">Shopping list</a>
            <svg class="menu-basket-svg" width="20" height="20"> <use href="../img/icons.svg#icon-bookStub"></use> </svg>
        </div>
    </div>
    <button class="menu-logout-btn">Log out</button>
    <div class="menu-background-image"></div>
</div>