<div class="menu-modal">
    <div class="name-caption">
        <img src="" alt="" class="menu-user-img">
        <p class="menu-user-name">userName</p>
    </div>
    <button class="menu-signup-btn">Sign up</button>
    <div class="menu-central-links">
        <a href="./index.html" class="menu-home-link">Home</a>
        <div class="menu-shopping-caption">
            <a href="./shoppingList.html" class="menu-list-link">Shopping list</a>
            <svg class="menu-shopping-svg" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-Vector"></use>
            </svg>
        </div>
    </div>
    <button class="menu-logout-btn">Log out</button>
    <div class="menu-background-image"></div>
</div>