<section class="block">
    <div class="block-title-wrapper">
        <h1 class="block-title">Support Ukraine</h1>
        <svg class="support-title-icon" width="20" height="32">
            <use href="./img/icon.svg#symbol"></use>
        </svg>
    </div>
    <div class="swiper">
        <ul class="support-list swiper-wrapper">

        </ul>
    </div>
    <button type="button" class="support-button">
        <svg class="support-icon" width="20" height="20">
            <use href="./img/icon.svg#arrow"></use>
        </svg>
    </button>
</section>


    
