<section class="sidebar">
  <div class="sidebar-categories">
    <ul class="sidebar-categories-list">
      <li class="sidebar-categories-item">
        <button type="button" class="categories-button">ALL CATEGORIES</button>
    </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link"
          >Combined Print and E-book Fiction</a
        >
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link"
          >Combined Print & E-book Nonfiction</a
        >
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link">Hardcover fiction</a>
    </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link">Hardcover nonfiction</a>
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link">Paperback trade fiction</a>
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link">Paperback nonfiction</a>
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link"
          >Advice, how-to & Miscellaneous</a
        >
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link"
          >Children's middle grade hardcover</a
        >
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link"
          >Business bool</a
        >
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link"
          >Audio fiction</a
        >
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link"
          >Mass Market Monthly</a
        >
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link"
          >Series book</a
        >
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link"
          >Picture book</a
        >
      </li>
    </ul>
  </div>
</section>
<section class="block">
    <div class="block-title-wrapper">
      <h1 class="block-title">Support Ukraine</h1>
      <svg class="support-title-icon" width="20" height="32">
        <use href="./img/symbol-defs.svg#symbol"></use>
      </svg>
    </div>
    <div class="swiper">
      <ul class="support-list swiper-wrapper"></ul>
    </div>
    <button type="button" class="support-button">
      <svg class="support-icon" width="20" height="20">
        <use href="./img/symbol-defs.svg#arrow"></use>
      </svg>
    </button>
</section>