.category-books-cat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.view-more-cat {
    pointer-events: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 27%;
    bottom: 100px;
    left: 0;
    background-color: #eac645;
    transform: translateY(150%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 0.6),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 0.6);
  
    opacity: 0;
    border-radius: 8px;
  }
  
  .book-thumb:hover .view-more {
    opacity: 1;
    transform: translateY(0);
  }
  .category-title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 48px;

 line-height: 52px; 
line-height: 1.08333;
letter-spacing: -0.04em;
color: var(--black);
margin-bottom: 40px;
  }
  .book-thumb{
    position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 14px;
  }
  .book-card-category{
    width: 335px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 0.6);
    margin-bottom: 40px;
  }
  .book-cover-cat{
    border-radius: 8px;
  width: 335px;
  height: 485px;
  }
  .book-name-cat{
    font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .book-card-category{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        /* gap: 25px; */
        width: 218px;
        height: 366px;
    }
    .book-cover-cat{
        height: 316px;
    }
  }
  @media screen and (min-width: 1440px) {
    .book-card-category{
        width: 180px;
        height: 306px;
    }
    .book-cover-cat{
        width: 180px;
        height: 256px;
    }
  }