    .menu-modal {
        margin-top: 60px;
        box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
        background: radial-gradient(191.37% 191.09% at 60% -23%, rgb(79, 46, 232) 18.027%, rgb(255, 255, 255) 100%)
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        width: 100%;
        min-height: 100%;
        position: absolute;
            left: 0;
            top: 0;
        
        overflow: hidden;

        visibility: hidden;
        opacity: 0;
        pointer-events: none;
            transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 600ms cubic-bezier(0.4, 0, 0.2, 1),
                transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-is-open {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
            transform: translateY(0);
            transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 600ms cubic-bezier(0.4, 0, 0.2, 1),
                transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .name-caption {
            position: absolute;
            height: 37px;
            left: 20px;
            top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0px;

            display: flex;
            gap: 9px;
            flex-direction: row;

            visibility: hidden;
    }

    .menu-user-img {
        height: 37px;
        width: 37px;
        border-radius: 50%;
    }

    .menu-user-name {
        color: rgb(255, 255, 255);
            font-family: DM Sans;
            font-size: 22px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: -2%;
            text-align: left;
    }

    .menu-background-image {
        background-image: url(../img/Group6.png);
            position: absolute;
            width: 450px;
            height: 439px;
            top: 378px;
            right: -65px;
            transform: rotate(-15.00deg);
            /* left: 35px;
            bottom: -186px; */

            border-radius: 8px;
    }

    .menu-central-links {
        padding-top: 185px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        gap: 17px;

        visibility: visible;
    }

    .menu-shopping-caption {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }

    .menu-home-link {
        /* home */
            position: static;
            width: 72px;
            height: 34px;
            padding: 8px 16px 8px 16px;
            border-radius: 36px;
            background: rgb(234, 198, 69);
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(17, 17, 17);
                font-family: DM Sans;
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: -4%;
                text-align: left;
                text-transform: uppercase;
    }

    .menu-list-link {
        color: rgb(255, 255, 255);
            font-family: DM Sans;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -4%;
            text-align: left;
            text-transform: uppercase;
    }

    .menu-signup-btn {
        display: flex;
        align-items: center;
        /* btn */
            position: absolute;
            padding-left: 14px;
            width: 184px;
            height: 48px;
            left: 20px;
            top: 104px;

            color: rgb(255, 255, 255);
                font-family: DM Sans;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: -4%;
                text-align: left;

        box-sizing: border-box;
            border: 1.5px solid rgb(17, 17, 17);
            border-radius: 18px;
        
            background: rgb(79, 46, 232);

        visibility: hidden;
    }

    .menu-logout-btn {
            position: absolute;
            width: 118px;
            height: 48px;
            left: 25px;
            bottom: 25px;

            box-sizing: border-box;
                border: 1.5px solid rgb(17, 17, 17);
                border-radius: 18px;
            
                background: rgb(255, 255, 255);
            z-index: 1;
        
            color: rgb(17, 17, 17);
                font-family: DM Sans;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: -4%;
                text-align: left;

            padding: 15px 24px;

            visibility: hidden;
    }

    .menu-shopping-svg {
        fill: #fff;
    }