html {
  box-sizing: border-box;
}
:root {
  --color-suooort-ua: #4f2ee8;
  --color-suooort-ua-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.block {
  max-width: 335px;
  height: 352px;
  padding: 24px 40px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0px 10px 10px #f5f5f71a;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    var(--color-suooort-ua) 18.03%,
    var(--color-suooort-ua-white) 100%
  );
  user-select: none;
}

@media screen and (min-width: 768px) {
  .block {
    max-width: none;
    width: 335px;
    height: 472px;
    padding: 24px 40px 14px;
  }
}

@media screen and (min-width: 1440px) {
  .block {
    width: 356px;
    height: 490px;
    padding: 24px 40px;
  }
}

.block-title-wrapper {
  margin-bottom: 40px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.block-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: -0.04em;
  color: #ffffff;
}

.swiper {
  height: 188px;
  margin-bottom: 16px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .swiper {
    height: 292px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper {
    margin-bottom: 40px;
  }
}

.support-list {
  display: flex;
  flex-direction: column;
}

.block-list-item {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  align-items: center;
  font-size: 14px;
  line-height: 1.28571;
  color: #fff;
  margin-bottom: 20px;
  height: auto;
}

.block-link img {
  max-height: 32px;
  width: auto;
  filter: grayscale(100%) invert(50%) brightness(200%);
}

.support-button {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .support__btn {
    width: 38px;
    height: 38px;
  }
}

.sidebar {
  top: 30px;
  left: 0;
  overflow-y: auto;
  padding: 20px;
  width: Fixed (328px);
  height: Hug (472px);
  border-radius: 3px;
  gap: 32px;
}

.sidebar-categories-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  width: 335px;
  height: 228px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .sidebar-categories-list {
    width: 356px;
    height: 472px;
    gap: 32px;
    margin: 0;
  }
}

.categories-button {
  border: 0;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #4f2ee8;
  background-color: transparent;
}

.sidebar-categories-item {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #11111199;
}
